@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background-color: pink;
  text-align: center;
}

.time {
  font-family: "Orbitron", sans-serif;
  font-size: large;
  text-align: center;
  display: inline;
}

.input {
  max-width: 30px;
  height: 20px;
  display: inline;
}

#input {
  text-align: center;
}

.watchContainer {
  margin: 20px 0;
}
